* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  bottom: 7%;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: 100vh;
}

.chatLog {
  width: 900px;
}

#userName {overflow: hidden; position: fixed center;}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: white; }
#messages {
  background: #eee;
  font-size: 15px;
  color: grey;
  text-align: left;

  overflow:   auto;
  position:   absolute;
  bottom:     0;
  width: 900px;
  max-height: 600px;
}
#messages { margin-bottom: 40px }

#list {
  font-size: 25px;
  text-align: center;
}


form { background: #eee; padding: 5px; position: fixed; bottom: 1%; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { font: 15px Helvetica, Arial; width: 9%; background: DodgerBlue; color: white; border: 10px; padding: 10px; }
